<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989483872592-0dkc2dqtb8ho3tlb8j6alusjdps2t9j1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989483872592-0dkc2dqtb8ho3tlb8j6alusjdps2t9j1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>989483872592-27gqisa1c6tcna4408mvsdi7rvo3pac9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAkkLLRaqT4WUCHy737WngAXHVhxcYFOVo</string>
	<key>GCM_SENDER_ID</key>
	<string>989483872592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.hbcu</string>
	<key>PROJECT_ID</key>
	<string>hbcu-605cb</string>
	<key>STORAGE_BUCKET</key>
	<string>hbcu-605cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989483872592:ios:1465afc24579d34c183c55</string>
</dict>
</plist>